body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid  #333;
    /* background-color: whitesmoke; */
}